html, body {
    margin: 0;
    padding: 0;
}

#container {
    width: 325px;
    height: 545px;
    border: 5px solid black;
    border-radius: 15px;
    margin: 50px auto;
}

#logo {
    width: 100px;
    margin: 10px;
}

#user-avatar {
    width: 40px;
    border-radius: 50px;
    margin: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}